<html>
    <head>
        {% if title %}
        <title>{{title}} - ARMSCGen</title>
        {% else %}
        <title>ARMSCGen</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/pure-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/skin-mine.css') }}">
    </head>
    <body>
        <div>Shellcode Generator: 
            <a href="/index">Home</a> | 
            <a href="/help">Help</a> |
            <a href="/about">about</a> |
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>

        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </body>
</html>
